.container {
  display: flex;
  align-items: center;
  height: 88px;
  background-color: #59b17a;
  color: #f7f8fa;
  padding: 20px;
}

.navigation {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 16px;
}
