.listContainer {
    display: flex;
    flex-direction: column;
}
@media(min-width: 768px) {
    .listContainer {
    flex-direction: row;
}
}
.form {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    padding: 20px;
    gap: 12px;
}

.form input {
     padding: 6px 4px;
  border: 1px solid rgba(89, 177, 122, 0.6);
  border-radius: 60px;

  outline: none;
}

.orderBtn {}